<!DOCTYPE html>
<html lang="en">
<head>
    <title>CYLINDERS </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <!-- Products Section -->
    <section id="products" class="products">
        <div class="container">
            <div class="section-header">
                <h1><span class="section-subtitle">← INDUSTRIAL GAS CYLINDERS →</span></h1>
                <h3> Smart Industries Choose Our Smart Prices </h3>
            </div>
            <div class="products-grid">
                <div class="product-card">
                    <div class="product-image" style="height:auto;">
                        <img src="oxygen-gas-cylinder-500x500.webp" alt="oxygen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> OXYGEN CYLINDER </h3>
                        <p> COMMERCIAL OXYGEN : 99.98% </p>
                        <p> COMMERCIAL OXYGEN : 99.98% </p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height:auto;" >
                        <img src="argon.avif" alt="argon" height="50%">
                    </div>
                    <div class="product-content">
                        <h3> ARGON CYLINDER </h3>
                        <p>Ammonia gas, also known as NH3, is a colourless and pungent gas that is commonly used in a variety o...</p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="nitrogen.webp" alt="nitrogen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> NITROGEN CYLINDER </h3>
                        <p>In the realm of industrial gases, Steelman Gases Pvt. Ltd. and Steelman Oxygen serve as on...</p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="co2.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> CO2 CYLINDER </h3>
                        <p>Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical gase...</p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="hydrogen.jpeg" alt="hydrogen">
                    </div>
                    <div class="product-content">
                        <h3> HYDROGEN CYLINDER </h3>
                        <p>Leading Nitrogen Gas Supplier Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-qu...</p>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="zero air.webp" alt="zero air">
                    </div>
                    <div class="product-content">
                        <h3> ZERO AIR CYLINDERS </h3>
                        <p>Steel Man Gas is the leading oxygen gas manufacturers in India. We are manufacturer and supplier of...</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="liquid-oxygen-dura-cylinder-500x500.webp" alt="zero air">
                    </div>
                    <div class="product-content">
                        <h3> LIQUID GAS CYLINDER </h3>
                        <p>Steel Man Gas is the leading oxygen gas manufacturers in India. We are manufacturer and supplier of...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>