<!DOCTYPE html>
<html lang="en">
<head>
    <title> holders </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <!-- Products Section -->
    <section id="products" class="products">
        <div class="container">
            <div class="section-header">
                <h1><span class="section-subtitle">← HOLDERS →</span></h1>
                <h3> Smart Industries Choose Our Smart Prices </h3>
            </div>
            <div class="products-grid">
                <div class="product-card">
                    <div class="product-image" style="height:auto;">
                        <img src="KD 600.png" alt="oxygen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> UMA KD600 </h3>
                       </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height:auto;" >
                        <img src="uma litlo.png" alt="argon" height="50%">
                    </div>
                    <div class="product-content">
                        <h3> UMA LITLO </h3>
                        </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="UMA TIGER-1000 Electrode Holder Close-up.png" alt="nitrogen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> UMA TIGER 1000 </h3>
                        </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="UMA BOSS 1200.png" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> UMA BOSS 1200 </h3>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>