<!DOCTYPE html>
<html lang="en">
<head>
    <title> safety pro. </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <!-- Products Section -->
    <section id="products" class="products">
        <div class="container">
            <div class="section-header">
                <h1><span class="section-subtitle">← SAFETY PRODUCTS →</span></h1>
                <h3> Smart Industries Choose Our Smart Prices </h3>
            </div>
            <div class="products-grid">
                <div class="product-card">
                    <div class="product-image" style="height:auto;">
                        <img src="safety shoes.jpg" alt="oxygen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> SAFETY SHOES </h3>
                       </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height:auto;" >
                        <img src="safety helmet.jpg" alt="argon" height="50%">
                    </div>
                    <div class="product-content">
                        <h3> SAFETY HELMET </h3>
                        </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="safety jacket.jpg" alt="nitrogen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> SAFETY JACKET </h3>
                        </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="fire safety.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> FIRE SAFETY CYLINDER </h3>
                        </div>
                </div>
                 <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="fire ball.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> FIRE SAFETY BALL </h3>
                        </div>
                </div>
                 <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="white gloves.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> SAFETY HAND GLOVES </h3>
                        </div>
                </div>
                 <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="safety gogles.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> SAFETY GOGLES </h3>
                        </div>
                </div>
                 <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="safety dress.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> FIRE SAFETY DRESS </h3>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="fire blanket.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> FIRE SAFETY BLANKET </h3>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="detectors.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> SMOKE DETECTORS </h3>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="leather apron.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> LEATHER APRON </h3>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="ear safety.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> EAR PLUGS CORDED </h3>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="safety mask.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> SAFETY MASK </h3>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="safety belt.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> SAFETY BELT </h3>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>