<!DOCTYPE html>
<html>
<head>
    <title> silder </title>
    <style>
        
    </style>
</head>
<body>
    <div class="container-fluid">
            <div class="swiper service-slider swiper-initialized swiper-horizontal swiper-pointer-events">
                <div class="swiper-wrapper" id="swiper-wrapper-06793d9807b521c8" aria-live="off" style="transform: translate3d(-1353px, 0px, 0px); transition-duration: 1400ms;"><div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="19 / 20" data-swiper-slide-index="18" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1512919845.jpg" alt="Zero Air Gas Suppliers" title="Zero Air Gas Suppliers">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                            </div>
                        </div>
                            <div class="service-content">
                                <p class="number">19</p>
                                <a class="pd-name" href="https://www.steelmangas.com/zero-air-gas-suppliers">Zero Air Gas Suppliers</a>
                                <p class="pd-desc">
                                  Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical gase...
                                </p>
                                <a href="https://www.steelmangas.com/zero-air-gas-suppliers" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                </div>
            </div>
                    <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="20 / 20" data-swiper-slide-index="19" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1792735251.jpg" alt="Medical Oxygen Manufacturer" title="Medical Oxygen Manufacturer">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">20</p>
                                <a class="pd-name" href="https://www.steelmangas.com/medical-oxygen-manufacturer">Medical Oxygen Manufacturer</a>
                                <p class="pd-desc">
                                  Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical gase...
                                </p>
                                <a href="https://www.steelmangas.com/medical-oxygen-manufacturer" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                              <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 20" data-swiper-slide-index="0" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1463633186.jpg" alt="Chlorine Gas Suppliers" title="Chlorine Gas Suppliers">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">01</p>
                                <a class="pd-name" href="https://www.steelmangas.com/chlorine-gas-suppliers">Chlorine Gas Suppliers</a>
                                <p class="pd-desc">
                                  Welcome to&nbsp;Steelman Gases Pvt Ltd, your trusted partner for high-quality industrial and medical...
                                </p>
                                <a href="https://www.steelmangas.com/chlorine-gas-suppliers" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 20" data-swiper-slide-index="1" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/311108449.jpg" alt="Anhydrous Ammonia" title="Anhydrous Ammonia">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">02</p>
                                <a class="pd-name" href="https://www.steelmangas.com/anhydrous-ammonia">Anhydrous Ammonia</a>
                                <p class="pd-desc">
                                  Ammonia gas, also known as NH3, is a colourless and pungent gas that is commonly used in a variety o...
                                </p>
                                <a href="https://www.steelmangas.com/anhydrous-ammonia" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 20" data-swiper-slide-index="2" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/921683148.jpg" alt="Sodium Hypochlorite" title="Sodium Hypochlorite">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">03</p>
                                <a class="pd-name" href="https://www.steelmangas.com/sodium-hypochlorite">Sodium Hypochlorite</a>
                                <p class="pd-desc">
                                  In the realm of industrial gases,&nbsp;Steelman Gases Pvt. Ltd.&nbsp;and Steelman Oxygen serve as on...
                                </p>
                                <a href="https://www.steelmangas.com/sodium-hypochlorite" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="4 / 20" data-swiper-slide-index="3" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/398670462.jpeg" alt="Liquor Ammonia" title="Liquor Ammonia">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">04</p>
                                <a class="pd-name" href="https://www.steelmangas.com/liquor-ammonia">Liquor Ammonia</a>
                                <p class="pd-desc">
                                  Liquor Ammonia Manufacturers In India

    Different Uses of Liquor Ammonia Solutions

    Liquor ammoni...
                                </p>
                                <a href="https://www.steelmangas.com/liquor-ammonia" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="5 / 20" data-swiper-slide-index="4" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/264944886.jpg" alt="Hydrogen Gas Suppliers" title="Hydrogen Gas Suppliers">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">05</p>
                                <a class="pd-name" href="https://www.steelmangas.com/hydrogen-gas-suppliers">Hydrogen Gas Suppliers</a>
                                <p class="pd-desc">
                                  Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical gase...
                                </p>
                                <a href="https://www.steelmangas.com/hydrogen-gas-suppliers" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="6 / 20" data-swiper-slide-index="5" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1091267497.jpg" alt="Refrigerant Gas" title="Refrigerant Gas">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">06</p>
                                <a class="pd-name" href="https://www.steelmangas.com/refrigerant-gas">Refrigerant Gas</a>
                                <p class="pd-desc">
                                  Refrigerant Gases
    At Steelman Gas, we offer a range of high-quality refrigerant gases for use in...
                                </p>
                                <a href="https://www.steelmangas.com/refrigerant-gas" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="7 / 20" data-swiper-slide-index="6" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/526422016.jpg" alt="Cryogenic Liquids" title="Cryogenic Liquids">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">07</p>
                                <a class="pd-name" href="https://www.steelmangas.com/cryogenic-liquids">Cryogenic Liquids</a>
                                <p class="pd-desc">
                                  cryogenic liquid gases

    Cryogenic tanks from cryogenic tanks manufacturer in India are the best op...
                                </p>
                                <a href="https://www.steelmangas.com/cryogenic-liquids" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="8 / 20" data-swiper-slide-index="7" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/140485831.jpg" alt="Fire Extinguishers" title="Fire Extinguishers">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">08</p>
                                <a class="pd-name" href="https://www.steelmangas.com/fire-extinguishers">Fire Extinguishers</a>
                                <p class="pd-desc">
                                  Steelman Gases Pvt. Ltd. is a renowned&nbsp;fire extinguisher manufacturer in India. We understand t...
                                </p>
                                <a href="https://www.steelmangas.com/fire-extinguishers" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="9 / 20" data-swiper-slide-index="8" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/860474201.jpg" alt="Helium &amp; Diving Gases" title="Helium &amp; Diving Gases">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">09</p>
                                <a class="pd-name" href="https://www.steelmangas.com/helium-diving-gases">Helium &amp; Diving Gases</a>
                                <p class="pd-desc">
                                  Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical gase...
                                </p>
                                <a href="https://www.steelmangas.com/helium-diving-gases" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="10 / 20" data-swiper-slide-index="9" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1660525707.jpg" alt="Welding Mixture" title="Welding Mixture">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">10</p>
                                <a class="pd-name" href="https://www.steelmangas.com/welding-mixture">Welding Mixture</a>
                                <p class="pd-desc">
                                  Welding Mixture

    Industrial Gas Mixture

    Steelman Gases offers customized industrial gas mixture...
                                </p>
                                <a href="https://www.steelmangas.com/welding-mixture" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="11 / 20" data-swiper-slide-index="10" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1026473252.jpg" alt="Modified Atmosphere Packaging Gas Mixtures" title="Modified Atmosphere Packaging Gas Mixtures">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">11</p>
                                <a class="pd-name" href="https://www.steelmangas.com/modified-atmosphere-packaging-gas-mixtures">Modified Atmosphere Packaging Gas Mixtures</a>
                                <p class="pd-desc">
                                  Modified Atmosphere Packaging Gas Mixtures

    Steelman Gases offers different MAP Gas Mixtures which...
                                </p>
                                <a href="https://www.steelmangas.com/modified-atmosphere-packaging-gas-mixtures" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="12 / 20" data-swiper-slide-index="11" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/654155738.jpg" alt="Fire Suppression System Gas Mixtures" title="Fire Suppression System Gas Mixtures">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">12</p>
                                <a class="pd-name" href="https://www.steelmangas.com/fire-suppression-system-gas-mixtures">Fire Suppression System Gas Mixtures</a>
                                <p class="pd-desc">
                                  Inergen

    Inergen is a mixture of three gases; the typical composition of this mixture is 52% Nitro...
                                </p>
                                <a href="https://www.steelmangas.com/fire-suppression-system-gas-mixtures" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="13 / 20" data-swiper-slide-index="12" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/580326812.jpg" alt="Medical Nitrous Oxide Suppliers" title="Medical Nitrous Oxide Suppliers">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">13</p>
                                <a class="pd-name" href="https://www.steelmangas.com/medical-nitrous-oxide-suppliers">Medical Nitrous Oxide Suppliers</a>
                                <p class="pd-desc">
                                  Medical Nitrous Oxide gas is a colorless and odorless gas that is commonly used in medical procedure...
                                </p>
                                <a href="https://www.steelmangas.com/medical-nitrous-oxide-suppliers" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="14 / 20" data-swiper-slide-index="13" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/531964152.png" alt="Carbon Dioxide" title="Carbon Dioxide">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">14</p>
                                <a class="pd-name" href="https://www.steelmangas.com/carbon-dioxide">Carbon Dioxide</a>
                                <p class="pd-desc">
                                  Welcome to&nbsp;Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical...
                                </p>
                                <a href="https://www.steelmangas.com/carbon-dioxide" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="15 / 20" data-swiper-slide-index="14" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1810730914.jpg" alt="Dissolved Acetylene Gas" title="Dissolved Acetylene Gas">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">15</p>
                                <a class="pd-name" href="https://www.steelmangas.com/dissolved-acetylene-gas">Dissolved Acetylene Gas</a>
                                <p class="pd-desc">
                                  Welcome to&nbsp;Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical...
                                </p>
                                <a href="https://www.steelmangas.com/dissolved-acetylene-gas" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="16 / 20" data-swiper-slide-index="15" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1054212712.jpg" alt="Argon Gas Manufacturers" title="Argon Gas Manufacturers">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">16</p>
                                <a class="pd-name" href="https://www.steelmangas.com/argon-gas-manufacturers">Argon Gas Manufacturers</a>
                                <p class="pd-desc">
                                  Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical gase...
                                </p>
                                <a href="https://www.steelmangas.com/argon-gas-manufacturers" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="17 / 20" data-swiper-slide-index="16" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/211445532.jpg" alt="Oxygen Gas Manufacturer" title="Oxygen Gas Manufacturer">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">17</p>
                                <a class="pd-name" href="https://www.steelmangas.com/oxygen-gas-manufacturer">Oxygen Gas Manufacturer</a>
                                <p class="pd-desc">
                                  Steel Man Gas is the leading oxygen gas manufacturers in India. We are manufacturer and supplier of...
                                </p>
                                <a href="https://www.steelmangas.com/oxygen-gas-manufacturer" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="18 / 20" data-swiper-slide-index="17" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1778816579.jpg" alt="Nitrogen Gas Manufacturer" title="Nitrogen Gas Manufacturer">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">18</p>
                                <a class="pd-name" href="https://www.steelmangas.com/nitrogen-gas-manufacturer">Nitrogen Gas Manufacturer</a>
                                <p class="pd-desc">
                                  Leading Nitrogen Gas Supplier

    Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-qu...
                                </p>
                                <a href="https://www.steelmangas.com/nitrogen-gas-manufacturer" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="19 / 20" data-swiper-slide-index="18" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1512919845.jpg" alt="Zero Air Gas Suppliers" title="Zero Air Gas Suppliers">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">19</p>
                                <a class="pd-name" href="https://www.steelmangas.com/zero-air-gas-suppliers">Zero Air Gas Suppliers</a>
                                <p class="pd-desc">
                                  Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical gase...
                                </p>
                                <a href="https://www.steelmangas.com/zero-air-gas-suppliers" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                       <div class="swiper-slide" role="group" aria-label="20 / 20" data-swiper-slide-index="19" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1792735251.jpg" alt="Medical Oxygen Manufacturer" title="Medical Oxygen Manufacturer">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">20</p>
                                <a class="pd-name" href="https://www.steelmangas.com/medical-oxygen-manufacturer">Medical Oxygen Manufacturer</a>
                                <p class="pd-desc">
                                  Welcome to Steelman Gases Pvt Ltd, your trusted supplier of high-quality industrial and medical gase...
                                </p>
                                <a href="https://www.steelmangas.com/medical-oxygen-manufacturer" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                                                   
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" role="group" aria-label="1 / 20" data-swiper-slide-index="0" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/1463633186.jpg" alt="Chlorine Gas Suppliers" title="Chlorine Gas Suppliers">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">01</p>
                                <a class="pd-name" href="https://www.steelmangas.com/chlorine-gas-suppliers">Chlorine Gas Suppliers</a>
                                <p class="pd-desc">
                                  Welcome to&nbsp;Steelman Gases Pvt Ltd, your trusted partner for high-quality industrial and medical...
                                </p>
                                <a href="https://www.steelmangas.com/chlorine-gas-suppliers" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" role="group" aria-label="2 / 20" data-swiper-slide-index="1" style="width: 421px; margin-right: 30px;">
                        <div class="service-box-items">
                            <div class="service-thumb">
                                                                <img src="https://www.steelmangas.com/images/311108449.jpg" alt="Anhydrous Ammonia" title="Anhydrous Ammonia">
                                                                <div class="icon">
                                    <img src="https://www.steelmangas.com/assets/image/img/icon/01.svg" alt="img">
                                </div>
                            </div>
                            <div class="service-content">
                                <p class="number">02</p>
                                <a class="pd-name" href="https://www.steelmangas.com/anhydrous-ammonia">Anhydrous Ammonia</a>
                                <p class="pd-desc">
                                  Ammonia gas, also known as NH3, is a colourless and pungent gas that is commonly used in a variety o...
                                </p>
                                <a href="https://www.steelmangas.com/anhydrous-ammonia" class="link-btn">Explore More <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
</body>
</html>