<!DOCTYPE html>
<html lang="en">
<head>
    <title> welding hose cable </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <!-- Products Section -->
    <section id="products" class="products">
        <div class="container">
            <div class="section-header">
                <h1><span class="section-subtitle">← WELDING HOSE & CABLE →</span></h1>
                <h3> Smart Industries Choose Our Smart Prices </h3>
            </div>
            <div class="products-grid">
                <div class="product-card">
                    <div class="product-image" style="height:auto;">
                        <img src="hose pipe.jpg" alt="oxygen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> HOSE PIPE </h3>
                       </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height:auto;" >
                        <img src="welding cable or.jpg" alt="argon" height="50%">
                    </div>
                    <div class="product-content">
                        <h3> WELDING CABLE(orange) </h3>
                        </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="welding cable bla..jpg" alt="nitrogen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> WELDING CABLE(black) </h3>
                        </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="com pipe.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> COMPRESSOR PIPE </h3>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>