<!DOCTYPE html>
<html lang="en">
<head>
    <title> welding rod&mig </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <!-- Products Section -->
    <section id="products" class="products">
        <div class="container">
            <div class="section-header">
                <h1><span class="section-subtitle">← WELDING ROD & MIG WIRE →</span></h1>
                <h3> Smart Industries Choose Our Smart Prices </h3>
            </div>
            <h2><span class="section-subtitle"><u> WELDING ROD :- </u></span></h2>
            <div class="products-grid">
                <div class="product-card">
                    <div class="product-image" style="height:auto;">
                        <img src="weld-metal.jpg" alt="oxygen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> WELD METAL </h3>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height:auto;" >
                        <img src="anand.jpg" alt="argon" height="50%">
                    </div>
                    <div class="product-content">
                        <h3> ANAND </h3>
                        </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="mangalam.jpg" alt="nitrogen" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> MANGALAM </h3>
                        </div>
                </div>

                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="ador.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> ADOR </h3>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image" style="height: auto;">
                        <img src="esab.jpg" alt="co2" width="300" height="400">
                    </div>
                    <div class="product-content">
                        <h3> ESAB </h3>
                    </div>
                </div>
                </div>
            </div>
        </div><br><br>
        <div class="container">
           
            <h2><span class="section-subtitle"><u> MIG WIRE :- </u></span></h2>
            <div class="products-grid">
                <div class="product-card">
                    <div class="product-image" style="height:auto;">
                        <img src="weld mig.png" alt="oxygen" width="700PX" height="200PX">
                    </div>
                    <div class="product-content">
                        <h3> WELD METAL MIG </h3>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    </body>
</html>